.article {
  border: 1px solid $clr-gray;
  height: 22em;
  margin-bottom: 2em;
  overflow-y: hidden;

  &__image {
    display: block;
    width: 100%;
    height: 15em;
    object-fit: cover;
  }

  &__content {
    position: relative;
    padding: 1em;
    width: 100%;
    height: 7em;
  }

  &__title {
    line-height: 1.2;
    height: 2.5em;
    font-size: 1.25rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__source {
    font-size: 1rem;
    font-weight: 300;
    height: 10%;
  }

  &__date {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 0.85rem;
    font-weight: 300;
    color: $clr-primary-dark;
  }
}
