$clr-primary-normal: #00ffc5;
$clr-primary-light: #9dffe8;
$clr-primary-dark: #00a780;

$clr-secondary-normal: #f61067;
$clr-secondary-light: #f55b96;
$clr-secondary-dark: #a10541;

$clr-gray: #363636;
$clr-dark: #242423;
$clr-light: #f4f4ed;
$clr-black: #000000;
$clr-white: #ffffff;

$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Roboto Condensed", sans-serif;
