*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: $ff-primary;
  background-color: $clr-light;
}

.container {
  padding: 1em;
}

.grid {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 100%;
  grid-template-areas: "main sidebar";

  &__main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  &__sidebar {
    grid-area: sidebar;
    padding: 0 1em;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
